@CHARSET "UTF-8";

.container {
	overflow-y: hidden;
	width: 100%;
	/*
	border: solid;
	border-color: black;
	*/
}

.formDiv {
	margin: 10% auto; 
	padding-left: 40%; 
}

.messageDiv {
	margin: 10% auto; 
	width: 600px;
	overflow-wrap: break-word;
	font-size: x-large;
	font-weight: 600;
}

.topDiv {
	height: 150px;
	padding: 0 0;
	margin: 0 0;
	z-index: 1;
	line-height: 30px;
	/*
	border: solid;
	border-color: yellow;
	*/
}

.topBar {
	width: 280px;
	height: 100%;
}

.topBar.left {
	text-align: left;
	float: left;
	/*
	border: solid;
	border-color: green;
	*/
}

.topBar.right {
	text-align: right;
	float: right;
	/*
	border: solid;
	border-color: red;
	*/
}

.content {
	float: top;
	margin: 0 auto;
	height: 100%;
	width: 90%;
	text-align: center;
	overflow: auto;
	/*
	border: solid;
	border-color: pink;
	*/
}

.tableCenter {
	display: inline-block;
}

span {
	font-weight: 600;
	font-size: 12px;
	color: red;
}

ul {
	list-style-type: none;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: white;
	background-color: black;
	cursor: pointer;
}